
.mainLayout{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;  
} 
.menuBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90px;
    min-height: 90px;
    max-height: 90px;
    position: fixed;
    top:0px;
    left:0px;
    z-index: 1000;
    background-color: #fff;
}

.menuBarIn{
    width: 1200px;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.menuBarIn img{
    width: 70px;
    padding: 10px;
}

.menuBarMenu{
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

.goSkBtn{
    padding: 0px 20px 0px 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color:#fff;
    font-size: 16px;
} 

.goSkKrr{
    background-color: #fabe00;
}

.goSkLulu{
    background-color: #e63d90;
}

.goSkEliivy{
    background-color: #29b5b2;
}

.titleMenuOnKrr{
    animation: fontColor 0.2s forwards;
    font-weight: 500;
    padding: 20px;
    width: 160px;
    min-width: 160px;
    max-width: 160px;
    text-align: center;
}

.titleMenuOnLulu{
    animation: fontColorLulu 0.2s forwards;
    font-weight: 500;
    padding: 20px;
    width: 160px;
    min-width: 160px;
    max-width: 160px;
    text-align: center;
}

.titleMenuOnEliivy{
    animation: fontColorEliivy 0.2s forwards;
    font-weight: 500;
    padding: 20px;
    width: 160px;
    min-width: 160px;
    max-width: 160px;
    text-align: center;
}

@keyframes fontColorLulu{
    from { 
    }
    to{
        color:#e63d90;
    }
}
@keyframes fontColorEliivy{
    from { 
    }
    to{
        color:#29b5b2;
    }
}


@keyframes fontColor{
    from { 
    }
    to{
        color:#fabe00;
    }
}


 
.subMenu{
    box-shadow: 10px 10px 10px #f3f3f390;
    position: fixed;
    padding-top:110px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    border-bottom:1px solid #f3f3f370;
    height: 120px;
    min-height: 120px;
    max-height: 120px;
    z-index: 200;
    background-color: #ffffffee;
}

.subMenuOn{
    animation: opOn 0.2s forwards;

}

.subMenuOff{
    animation: opOff 0.2s forwards;
}

@keyframes opOn{
    from {
        opacity: 0;
        transform: translate(0, -100px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0px);
    }
} 
@keyframes opOff{
    0% {
        opacity: 1;
         transform: translate(0, 0px);
    }
    90% {
        opacity: 0;
        transform: translate(0, -90px);

    }100%{
        opacity: 0;
        display: none;
        transform: translate(0, -100px);
    }
}

.subMenuCharacter{
    width: 150px;
    height: auto;
}

.sm{
    
    cursor: pointer;
}

.sm:hover{
    animation: scale 0.2s forwards;
}

@keyframes scale{
    from {
        scale:1;
    }
    to{
        scale:1.1;
    }
}

.subMenuItemOn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0px 30px 20px 30px;
}

.subMenuItemOn img{
    width: 50px;
    margin-bottom:10px;
}

.subMenuItemOn .menuText{
    font-size: 17px;
    font-weight: 700;
    width:50px;
    min-width: 50px;
    max-width: 50px;
    text-align: center;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuLine{
    width: 100%;
    height: 5px;
    margin-top:10px;
    border-radius: 50px;
}

.subMenuItemOn .lineOn0{
    background-color: #e63d90;
}

.subMenuItemOn .lineOn1{
    background-color: #fabe00;
}

.subMenuItemOn .lineOn2{
    background-color: #00a74d;
}

.subMenuItemOn .lineOn3{
    background-color: #29b5b2;
}


.subMenuItemOff{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0px 30px 20px 30px;
}

.subMenuItemOff img{
    width: 50px;
    margin-bottom:10px;
}

.subMenuItemOff .menuText{
    color: #969696;
    font-size: 16px;
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    text-align: center;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.titleMenuOff{
    padding: 20px;
    width: 160px;
    min-width: 160px;
    max-width: 160px;
    text-align: center;
} 
 

.centerLayout{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-top:150px;
    background-color: #fbfbfb;
}

.mainCenterLayout{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    background-color: #fbfbfb;
}

.centerLayoutIn{
    width: 1200px;
    height: 100%;
    margin-top:150px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.mainCenterLayoutIn{
    width: 1200px;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top:200px;
    margin-bottom:150px;
}



.ctgrLayout{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    margin-bottom:20px;
}

.ctgrItem{
    cursor: pointer;
    border-radius: 50px;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-left:5px;
    margin-right:5px;
}


.ctgrItemOnKrr{
    color:#fff;
    border:2px solid #fabe00;
    background-color: #fabe00;
}

.ctgrItemOnLulu{
    color:#fff;
    border:2px solid #e63d90;
    background-color: #e63d90;
}


.ctgrItemOnEliivy{
    color:#fff;
    border:2px solid #29b5b2;
    background-color: #29b5b2;
}





.ctgrItemOff{
    color:#323232;
    border:2px solid #eee;
    background-color: #fff;
}
 

.contentsLayout{
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin:15px;
}

.contentsLayout:hover{
    margin:0px 15px 30px 15px;
}

.yellowbox{
    background-color: #fff3c0;
    border: 1px solid #ffa52e30;
    color:#ffa52e;
}

.pinkbox{
    background-color: #ffebeb;
    border: 1px solid #ff888830;
    color:#ff8888;
}

.bluebox{
    background-color: #e8f7f6;
    border: 1px solid #51b7b230;
    color:#51b7b2;    
}

.contentsImgBox{
    cursor: pointer;
    width: 180px;
    min-width: 180px;
    max-width: 180px;
    height: 140px;
    min-height: 140px;
    max-height: 140px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-top:15px;
}

.contentsImgBox img{
    width: 184px;
    height: 144px;
    object-fit: cover;
    position: absolute;
    top:-2px;
    left:-2px;
}

.contentsTitle{
    width: 100%;
    padding: 20px 5px 20px 5px;
    box-sizing: border-box;
    text-align: center;
}

.contentsBtn{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    justify-content: center;
}

.contentsBtn img{ 
    width: 32px;
    height: 32px;
    margin: 0px 10px 20px 10px;
}

.bottomLayout{
    position: relative;
    z-index: 1000;
    width:100vw;
    height: 100%;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomLayoutIn{
    width: 1200px;
    padding:50px 10px 50px 10px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: flex-start;
}

.bottomLayoutIn img{
    width: 50px;
    height: auto;
}

.bottomText{
    font-family: Noto Sans KR;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color:#aaa;
    margin-left:60px;
    line-height: 1.6;
    min-width: fit-content;
}

.bottomBtn{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.bottomBtn img{
    width: 40px;
    height: 40px;
    margin-left:20px;
    cursor: pointer;
}
 
.listLayout{ 
    position: relative;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    flex-direction: row; 
    margin-top:30px;
    margin-bottom:50px;
    background-color: #fbfbfb;
}

.musicListLayout{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top:20px;
    margin-bottom:50px;
}

.musicList{

    border-radius: 10px;
    margin:30px;
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.musicItem{
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    border-radius: 10px;
}

.musicList:hover{
    margin-top:0px;
}

.musicItem img{
    width: 406px;
    height: 306px;
    top:-3px;
    left:-3px;
    object-fit: cover;
    position: absolute;
}

.musicTitle{
    padding-top:40px;
    padding-bottom:20px;
    font-size: 22px;
}


.dialogBg{
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: #00000090;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dialogLayout{
    min-width: fit-content;
    max-width: 90vw;
    background-color: #fff;
}

.dialogStatusBar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

.dialogStatusTitle{
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

.dialogStatusCancel{
    min-width: fit-content;
    padding-right: 25px;
    padding-left: 25px;
    cursor: pointer;
}

.dialogImgBox{
    min-width: fit-content;
    max-height: calc(90vh - 50px);
    background-color: #fff;
    overflow: scroll; 
}
 

.dialogImgBox img{
    width: fit-content;
    max-width: 90vw;
    height: auto;
}

.mainContentsLayout{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: #fff;
    border-radius: 20px;
    align-items: center;
    margin:10px;
    box-shadow: 3px 3px 10px #eee;
}

.mainContentsLayout img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.mainContentsTitle{
    font-size: 22px;
    margin-top:40px;
}

.mainContents{
    font-family: Noto Sans KR;
    height: 60px;
    margin:10px 10px 20px 10px;
    font-size: 17px;
    color:#5d5d5d;
    display: flex;
    text-align: center;
}

.mainContentsBtn{
    font-family: Noto Sans KR;
    padding: 20px 50px 20px 50px;
    border-radius: 100px;
    color: #fff;
    margin-bottom:50px;
    font-size: 17px;
}

.mainContentsLayout:hover{
    filter:brightness(0.9);
}